body {
  background: linear-gradient(
    73.41deg,
    #dbd0b3 11.56%,
    #dbd0b3 22.84%,
    #dbd0b3 30.27%,
    #dbd0b3 48.13%,
    #dbd0b3 94.37%
  );
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0px;
  top: 0px;
  background: #4a1d1f;
}

.logo {
  position: absolute;
  width: 260px;
  height: 47px;
  left: 52px;
  top: 15px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  position: absolute;
  width: 50%;
  left: 350px;
  top: 26px;
  text-align: center;
  align-items: center;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-right: 10px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

.Search {
  box-sizing: border-box;
  margin-left: 15px;
  position: absolute;
  width: 358px;
  height: 50px;
  left: calc(74% - 251px / 2 - 62.5px);
  top: calc(46% - 45px / 2);
  border: 0.5px solid #553d3f;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 9px 25px;
  font-size: 20px;
  color: #ffffff;
}

input,
input::placeholder {
  font-size: 20px;
  font-family: "Poppins";
}

.search-bar button img {
  width: 15px;
}

.search-bar button {
  border: 0;
  border-radius: 0%;
  width: 50px;
  height: 50px;
  background: #693336;
  cursor: pointer;
  position: absolute;
  margin-left: 5px;
}

.btns {
  position: absolute;
  left: calc(103.5% - 251px / 2 - 62.5px);
  top: calc(62% - 45px / 2);
  display: flex;
  flex-direction: row;
  gap: 46px;
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.croissant {
  border-radius: 30px;
  width: 450px;
  height: 430px;
  position: absolute;
  top: 25%;
  margin-left: 30px;
}

.itemLogo {
  margin: 0px 0px 10px 30px;
}

.descricao {
  position: absolute;
  width: 50%;
  left: 40%;
  top: 45%;
  line-height: 30px;
  color: #000000;
}

.item {
  position: absolute;
  width: 600.17px;
  height: 100.12px;
  right: 194.83px;
  top: 66.3px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  line-height: 120px;
  background: #8f4343;
  transform: matrix(1, -0.04, 0.03, 1, 0, 0);
}

.preco {
  position: absolute;
  text-align: center;
  width: 220.55px;
  height: 60.53px;
  right: 195.45px;
  top: 190.36px;
  font-size: 40px;
  background: #b5a023;
  transform: matrix(1, -0.04, 0.03, 1, 0, 0);
}

ul {
  display: flex;
  position: absolute;
  list-style-type: none;
  right: 20%;
  top: 75%;
}
ul li {
  margin-left: 35px;
}

ul button {
  border-radius: 20px;
  background-color: black;
  color: #ffffff;
  width: 210px;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  margin-right: 25px;
}
