header {
    position: absolute;
    width: 100%;
    height: 75px;
    left: 0px;
    top: 0px;
    background: #4A1D1F;
  }
  
  
  .logo {
    position: absolute;
    width: 260px;
    height: 47px;
    left: 52px;
    top: 15px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    position: absolute;
    width: 50%;
    left: 350px;
    top: 26px;
    text-align: center;
    align-items: center
  }
  
  .menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 15px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
  }
  
  .Search {
    box-sizing: border-box;
  
    position: absolute;
    width: 358px;
    height: 50px;
    left: calc(74% - 251px/2 - 62.5px);
    top: calc(46% - 45px/2);
  
    border: 0.5px solid #553d3f;
  
  }
  
  .search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 9px 25px;
    font-size: 20px;
    color: #ffffff;
  }
  
  input,
  input::placeholder {
    font-size: 20px;
    font-family: "Poppins";
  }
  
  .search-bar button img {
    width: 15px;
  }
  
  .search-bar button {
    border: 0;
    border-radius: 0%;
    width: 50px;
    height: 50px;
    background: #693336;
    cursor: pointer;
    position: absolute;
    margin-left: 15px;
  }
  
  .btns {
    position: absolute;
  
  
    left: calc(103.5% - 251px/2 - 62.5px);
    top: calc(62% - 45px/2);
    display: flex;
    flex-direction: row;
    gap: 46px;
    text-align: center;
    align-items: center
  }